<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>HTTP 404</title>
  </head>
  <body>


<div class="jumbotron jumbotron-fluid custom">
  <div class="container">
    <h1>404 Fehler</h1>
    <p>Diese Seite ist leider nicht verf&uuml;gbar!</p>
  </div>
</div>

</body>
</html>

